/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'norsebold';
    src: url("../fonts/norse-bold-webfont.woff2") format("woff2"),
        url("../fonts/norse-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

div>label {
    font-size: 10px;
}

img {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    height: 500px;
    width: 850px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.side-bar {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../images/jon-tyson-SlntP-SLi0Q-unsplash.jpg");
    background-size: cover;
    font-family: "norsebold", monospace;
    padding-bottom: 5px;
}

.side-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.767);
    opacity: 0.8;
    margin-top: 100px;

}

.photo-credit {
    font-family: Roboto sans-serif;
    color: white;
}

.photo-credit>a {
    color: white;
    font-weight: normal;
}

.odin-logo {
    height: 70px;
    width: 50px;
}

.logo-text {
    color: white;
    font-size: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.027);
}

.main-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-items {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.headline {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.middle {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding-top: 8px;
    padding-left: 30px;
    padding-right: 95px;
    padding-bottom: 15px;
}

.top {
    margin-top: 70px;
    margin-bottom: 20px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    padding-right: 95px;
    padding-left: 30px;
    margin-bottom: 30px;
    height: 100px;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 20px 30px;
    border-top: 4px solid rgba(241, 241, 241, 0.911);
}

button {
    color: white;
    background-color: #596D48;
    border-radius: 5px;
    border-color: #596D48;
    padding: 5px 8px;
}

a {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}

input {
    border-radius: 5px;
    margin-bottom: 10px;
}

input:placeholder-shown {
    text-align: center;
}

input:focus {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

input:invalid {
    border: 2px solid #900;
    background-color: #fdd;
}

input:focus:invalid {
    outline: none;
}

input:valid:required {
    border: 2px solid blue;
}

.error-message {
    color: red;
    font-size: 12px;
}